<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hanadal.dooson.hanadal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".splash.SplashActivity" />
        <activity android:name=".sign.SignActivity" />
        <activity android:name=".search.SearchActivity" />
        <activity android:name=".trending.TrendingActivity" />
        <activity android:name=".app_info.AppInfoActivity" />
        <activity android:name=".qna.QnaActivtiy" />
        <activity android:name=".my_challenge_list.MyChallengeListActivity" />
        <activity android:name=".make_my_challenge.MakeMyChallengeActivity" />
        <activity android:name=".view_challenge.ViewChallengeActivity" />
        <activity android:name=".write_my_diary.WriteMyDiaryActivity" />
        <activity android:name=".challenge_info.ChallengeInfoActivity" />
        <activity android:name=".request.RequestActivity" />
        <activity android:name=".view_book.ViewBookActivity" />
        <activity android:name=".store.StoreActivity" />
        <activity android:name=".change_skin.ChangeSkinActivity"></activity>
    </application>

</manifest>